.container {
  background-color: gray;
  border-radius: 10px;
  width: 140px;
  height: 280px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  &:hover {
    box-shadow: 0 0 10px whitesmoke;
  }
}

.container img {
  width: 130px;
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
  margin-top: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}

.buttonContainer button {
  margin: 2px 2px 0 0;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  box-shadow: 0 2px 2px black;
  &:hover {
    background-color: red;
    color: white;
    box-shadow: 0 2px 2px whitesmoke;
  }
}

.dataContainer {
  text-align: center;
  padding: 5px;
}

.dataContainer h2 {
  margin: 2px;
  color: black;
  font-size: 15px;
  background-color: yellow;
}

.dataContainer h4 {
  margin: 2px;
  color: black;
  font-size: 10px;
}
