.container {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: auto;
}

.container input {
  border-radius: 5px;
  height: 25px;
  margin-right: 5px;
}

.container button {
  border-radius: 5px;
  height: 25px;
  background-color: darkgreen;
  color: whitesmoke;
  box-shadow: 0 5px 5px black;
  &:hover {
    background-color: whitesmoke;
    color: darkgreen;
    box-shadow: 0 5px 5px whitesmoke;
  }
}
