.container {
  padding-bottom: 15px;
}

.container input {
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin-right: 10px;
}

.container button {
  border-radius: 5px;
  font-size: 18px;
  height: 38px;
  width: 100px;
  background-color: darkgreen;
  color: whitesmoke;
  box-shadow: 0 5px 5px black;
  &:hover {
    background-color: whitesmoke;
    color: darkgreen;
    box-shadow: 0 5px 5px whitesmoke;
  }
}
